[Unit]
Description=ClickHouse Server
After=network.target remote-fs.target nss-lookup.target

[Service]
#ExecStartPre=/bin/grep -q sse4_2 /proc/cpuinfo
ExecStart=/usr/bin/clickhouse-server --log-file=/var/log/clickhouse-server/clickhouse-server.log
LimitNOFILE=262144
PrivateTmp=true
User=clickhouse
WorkingDirectory=/etc/clickhouse-server

[Install]
WantedBy=multi-user.target
